.home-container {
    padding: 20px;
    min-height: 100vh;
  }
  
  .main-content {
    text-align: left;
  }
  
  .main-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .main-subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .game-modes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .mode {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: calc(50% - 20px); /* Two cards per row with 20px gap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .mode-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .mode-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .mode-btn {
    background-color: #d84303;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .mode-btn:hover {
    background-color: #b23600;
  }
  
  .mode-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
  }
  /* src/css/Home.css */
.embedded-links {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 8px;
}

.embedded-links a {
  color: #fff;
  text-decoration: none;
}

.embedded-links a:hover {
  text-decoration: underline;
}
