.profile-container {
    color: #333;
    background: #fff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #d84303;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}



.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #d84303;
    padding-bottom: 20px;
    margin-bottom: 30px;
    position: relative;
}

.profile-pic-link {
    display: inline-block;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    border: 3px solid #d84303;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.05);
}

.level-info {
    flex-grow: 1;
}

.progress-bar {
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
    height: 15px;
    position: relative;
}

.progress {
    background: #d84303;
    height: 100%;
    transition: width 0.3s ease;
}

.logout-button {
    background: #d84303;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 30px;
    transition: background 0.3s ease;
}

.logout-button:hover {
    background: #c62828;
}

.cards-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 240px;
}

.card:hover {
    transform: scale(1.05);
}

.wins-card {
    background-color: #4caf50; /* Green */
    color: white;
}

.losses-card {
    background-color: #f44336; /* Red */
    color: white;
}

.chart-container {
    height: 350px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-pic {
        margin-bottom: 20px;
    }

    .logout-button {
        position: static;
        margin-top: 20px;
        margin-right: 0;
    }

    .cards-section {
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        margin-bottom: 20px;
    }
}
